<p>検索</p>
<%= form_tag(searchs_path,:method => 'get') do %>
	<%= text_field_tag :search %>
	<%= submit_tag '絞り込み', :title => nil %>
<% end %>

<ul><% @bookss.each do |book| %>
	<li>
		<%= link_to book.title, book %>
		<%= book.created_at %>
		<%= book.body %>
	</li>
	<% if book.user == current_user %>
	<%= link_to "編集", edit_book_path(book) %>
	<%= link_to "削除", book, method: :delete %>
	<% end %>
	<% end %>
</ul>
</div>
</div>



<%= form_tag(searchs_path, :method => 'get') do %>
    <%= select_tag(:option, options_for_select([["user", "1"],["book","2"]]))%> 
    <%= text_field_tag :search %>
    <%= submit_tag 'Search' %>
<% end %>